@using System.Resources
@using SoniReports.DataAccessLayer

@model SoniReports.ViewModels.ActivateUserViewModel
<div id="activationEditor">    
@using (Html.BeginForm())
{  
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-4"})
                    </div>
                    <div class="col-md-8">
                        @Html.DisplayTextFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-">
                        @Html.LabelFor(model => model.EmailConfirmed, htmlAttributes: new { @class = "control-label col-md-5" })
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.EmailConfirmed, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Roles, htmlAttributes: new {@class = "control-label col-md-4"})
                    </div>
                    <div class="col-md-8">
                        @string.Join(", ", Model.Roles)
                    </div>
                </div>

            </div>

            <div class="col-md-offset-2 col-md-10">
                <a id="lnkAccept" class="btn btn-default" href="#" role="button">Tillad</a>
                <a id="lnkReject" class="btn btn-default" href="#" role="button">Nægt</a>
                <a id="lnkCancel" class="btn btn-default" href="#" role="button">Annullér</a>
            </div>
            <div id="validations" class="col-md-offset-2 col-md-10">
                @{if (Model.Result != null)
                  {
                      foreach (var error in Model.Result.Errors)
                        {
                            @error
                            <br />
                        }
                  }
                }
            </div>
        </div>
    }
</div>

<script src="~/Scripts/Views/UserManagement.ActivateUser.js"></script>
@Scripts.Render("~/bundles/jqueryval")