
@{
    ViewBag.Title = "Aktivitetslog";
}
<h2>@ViewBag.Title.</h2>

<div>
    <table id="activityLog" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tidspunkt</th>
                <th>Brugernavn</th>
                <th>Handling</th>
                <th>Genstand</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/DataTable")
    @Styles.Render("~/bundles/css/DataTable")
    @Styles.Render("~/bundles/css/jqueryui")
    <script src="~/Scripts/Views/UserManagement.ViewActivityLog.js"></script>
}